logs/
target/
tmp/
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
id_rsa*
/.ivy
metastore_db/
derby.log
.DS_Store/
.DS_Store
.vagrant
.localstack
/admin.conf
/kube.config
/*.log
